.App {
  height: 100vh;
  display: flex;
  background-color: #020230;
  color: white;
}

.main {
  width: 75%;
  background: linear-gradient(
      rgba(0, 0, 0, 0),
      #020230
    ),
    url("./assets/bg2.png") center no-repeat;
}

.piramis {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nyeremeny__lista{
list-style: none;
width: 100%;
padding: 20px;
}

.nyeremeny{
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 5px;

}
.nyeremeny.active{
    background-color: teal
}

.nyeremeny__sorszam{
    font-size: 18px;
    font-weight: 100;
    width: 50%;
}

.nyeremeny__osszeg{
    font-size: 20px;
    font-weight: 400;

}
