.App {
  height: 100vh;
  display: flex;
  background-color: #020230;
  color: white;
}

.main {
  width: 75%;
  background: linear-gradient(rgba(0, 0, 0, 0), #020230),
    url("./assets/bg2.png") center no-repeat;
  display: flex;
  flex-direction: column;
}

.top {
  height: 60%;
  position: relative;
}
.timer {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 5px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  bottom: 10px;
  left: 80px;
}

.bottom {
  height: 40%;
}

.kerdesek {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.kerdes {
  width: 80%;
  background-color: black;
  border: 2px solid white;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  font-size: 20px;
}

.valaszok {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.valasz {
  width: 40%;
  border: 1px solid white;
  background-color: black;
  padding: 15px;
  text-align: center;
  font-size: 20px;
  margin: 0 10px 20px 10px;
  cursor: pointer;
}

.valasz:hover,
.valasz.active {
  background: orange;
}

.valasz.helyes {
  animation: helyes 2s ease forwards;
}
.valasz.helytelen {
  animation: helytelen 2s ease forwards;
}

@keyframes helyes {
  0%,
  20%,
  40% {
    background-color: orange;
  }

  21%,
  48% {
    background-color: black;
  }
  49%,
  60%,
  70%,
  80%,
  90%,
  100% {
    background-color: green;
  }
}

@keyframes helytelen {
  0%,
  20%,
  40% {
    background-color: orange;
  }

  21%,
  48% {
    background-color: black;
  }
  49%,
  60%,
  70%,
  80%,
  90%,
  100% {
    background-color: crimson;
  }
}

.piramis {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.nyeremeny__lista {
  list-style: none;
  width: 100%;
  padding: 20px;
}

.nyeremeny {
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
}
.nyeremeny.active {
  background-color: teal;
}

.nyeremeny__sorszam {
  font-size: 18px;
  font-weight: 100;
  width: 50%;
}

.nyeremeny__osszeg {
  font-size: 20px;
  font-weight: 400;
}

.start {
  width: 250px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.start__input {
  width: 100%;
  height: 30px;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
}

.start__input:focus {
  outline: none;
}

.start__button {
  width: 100%;
  height: 30%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
}
